.reservation-form {
  padding: rem-calc(10px);

  background-color: $background;

  &__wrapper {
    padding: rem-calc(18px) rem-calc(24px);

    border: 2px solid $border;
  }

  &__header {
    border-bottom: 2px solid $border;
    padding-bottom: rem-calc(18px);

    &__price {
      margin-bottom: rem-calc(6px);
    }
    &__reviews {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__count {
      font-size: rem-calc(13px);
      color: $fontDark;
      font-weight: $fontWeightBold;

      margin-left: rem-calc(8px);
    }
  }

  &__submit {
    display: block;

    width: 100%;
    height: rem-calc(50px);

    background-color: $submitColor;
    border-radius: rem-calc(5px);
    color: $white;

    border: unset;
    font-size: 1rem;

    cursor: pointer;
    margin-top: rem-calc(30px);

    will-change: background-color;
    transition: background-color 0.15s ease-in;

    &:hover {
      background-color: $submitColorHover;
    }

    &:disabled {
      color: $fontPrimary;
      background-color: $border;
      pointer-events: none;
    }
  }
}
