$arrowColor: #797979;
$background: #ececec;
$black: #000000;
$border: #dedede;
$dateInputFocus: #a1d9d6;
$fontDark: #454545;
$fontLight: #e8e8e8;
$fontPrimary: #888888;
$primary: #01dbb2;
$rangeBackground: #c3fef8;
$starBackground: #3a7c82;
$submitColor: #db5f60;
$submitColorHover: #b13334;
$white: #ffffff;
